{{> start }}

<div>
  <h2>Changer le round</h2>
  <form action="/admin/round" method="post">
    <label>
      Round
      <input type="number" name="round" value="{{round}}">
    </label>
    <input type="submit" value="Update">
  </form>
</div>

<div>
  <h2>Lancer un match compétitif</h2>
  <form action="/admin/match" method="post">
    <table>
      <tr>
        <th>Équipe</th>
        <th>Bot</th>
        <th>Membres</th>
        <th>Match?</th>
      </tr>
      {{#each teams}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.bot}}</td>
          <td>{{this.members}}</td>
          <td><input type="checkbox" name="team" value="{{this.id}}"></td>
        </tr>
      {{/each}}
    </table>
    <input type="submit" value="Lancer la partie">
  </form>
</div>

{{> end }}
