{{> start }}
<div>
  <h2>Téléverser votre IA</h2>
  <p>Le fichier téléversé doit avoir une extension <code>.zip</code>.
  <form action="/team/bot" method="post" enctype="multipart/form-data">
    <div>
      <input style="border:1px solid #ccc; padding:1em 1.5em; border-radius:4px; display:inline-block;" type="file" name="file">
    </div>
    <input class="button button-primary" type="submit" value="Téléverser">
  </form>
</div>

<hr>

<div>
  <h2>Démarrer une nouvelle partie</h2>
  <p>Vous pouvez démarrer une partie pour tester votre IA contre ces <em>bots</em> programmés par les organisateurs.</p>
  <form action="/game" method="post">
    <button name="value" class="button-primary" type="submit" value="players">Démarrer une partie contre les autres participants</button>
    <button name="value" type="submit" value="bots">Démarrer une partie contre le serveur</button>
  </form>
</div>

<hr>

<div>
  <h2>Rejoindre une partie</h2>
  <p>Vous pouvez rejoindre une partie en attente pour tester votre IA contre les <em>bots</em> des autres participants.</p>
  <form action="/game/join" method="post">
    <table>
      <tr>
        <th>Équipe 0</th>
        <th>Équipe 1</th>
        <th>Équipe 2</th>
        <th>Équipe 3</th>
        <th></th>
      </tr>
      {{#each joinableGames}}
        <tr>
          <td>{{this.t0name}}</td>
          <td>{{this.t1name}}</td>
          <td>{{this.t2name}}</td>
          <td>{{this.t3name}}</td>
          <td>
            <button type="submit" name="join" value="{{this.id}}">
              Rejoindre
            </button>
          </td>
        </tr>
      {{/each}}
    </table>
  <form>
</div>

<hr>

<div>
  <h2>Historique des parties</h2>
  <p>Vous trouverez ci-dessous les parties dans lesquelles votre équipe a participé.</p>
  <table>
    <tr>
      <th>Ranked</th>
      <th>Équipe 0</th>
      <th>Équipe 1</th>
      <th>Équipe 2</th>
      <th>Équipe 3</th>
      <th>État</th>
      <th>Grade 0 (Gagnant)</th>
      <th>Grade 1</th>
      <th>Grade 2</th>
      <th>Grade 3</th>
      <th>Mis à jour le</th>
    </tr>
    {{#each relatedGames}}
      <tr>
        <td>{{this.ranked}}</td>
        <td>{{this.t0name}}</td>
        <td>{{this.t1name}}</td>
        <td>{{this.t2name}}</td>
        <td>{{this.t3name}}</td>
        <td>{{this.status}}</td>
        <td>{{this.g0name}}</td>
        <td>{{this.g1name}}</td>
        <td>{{this.g2name}}</td>
        <td>{{this.g3name}}</td>
        <td>{{this.updated}}</td>
      </tr>
    {{/each}}
  </table>
</div>

{{> end }}
