<div>
  <h2>Téléverser votre IA</h2>
  <form action="/dashboard/upload" method="post" enctype="multipart/form-data">
    <label>
      .zip
      <input type="file" id="file">
    </label>
  </form>
</div>

<div>
  <h2>Démarrer une nouvelle partie</h2>
  <form action="/game" method="post">
    {{#each bots}}
      <label>
        <input type="checkbox" name="team" value="{{this.id}}">
        {{this.name}}
        <br/>
      </label>
    {{/each}}
    <input type="submit" value="Démarrer">
  </form>
</div>

<div>
  <h2>Rejoindre une partie</h2>
    <form action="/game/join" method="post">
      <table>
        <tr>
          <th>Équipe 0</th>
          <th>Équipe 1</th>
          <th>Équipe 2</th>
          <th>Équipe 3</th>
          <th></th>
        </tr>
        {{#each joinableGames}}
          <tr>
            <td>{{this.team0}}</td>
            <td>{{this.team1}}</td>
            <td>{{this.team2}}</td>
            <td>{{this.team3}}</td>
            <td>
              <button type="submit" name="join" value="{{this.id}}">
                Rejoindre
              </button>
            </td>
          </tr>
        {{/each}}
      </table>
    <form>
</div>

<div>
  <h2>Historique</h2>
  <table>
    <tr>
      <th>Équipe</th>
      <th>Victoire?</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>team2</td>
      <td>Nope</td>
      <td>Hier</td>
    </tr>
    <tr>
      <td>team2</td>
      <td>Nope</td>
      <td>Encore hier</td>
    </tr>
  </table>
</div>
