{{> start }}
<div>
  <h2>Téléverser votre IA</h2>
  <form action="/team/bot" method="post" enctype="multipart/form-data">
    <label>
      .zip
      <input type="file" name="file">
    </label>
    <input type="submit" value="Téléverser">
  </form>
</div>

<div>
  <h2>Démarrer une nouvelle partie</h2>
  <form action="/game" method="post">
    {{#each bots}}
      <label>
        <input type="checkbox" name="team" value="{{this.id}}">
        {{this.name}}
        <br/>
      </label>
    {{/each}}
    <input type="submit" value="Démarrer">
  </form>
</div>

<div>
  <h2>Rejoindre une partie</h2>
  <form action="/game/join" method="post">
    <table>
      <tr>
        <th>Équipe 0</th>
        <th>Équipe 1</th>
        <th>Équipe 2</th>
        <th>Équipe 3</th>
        <th></th>
      </tr>
      {{#each joinableGames}}
        <tr>
          <td>{{this.t0name}}</td>
          <td>{{this.t1name}}</td>
          <td>{{this.t2name}}</td>
          <td>{{this.t3name}}</td>
          <td>
            <button type="submit" name="join" value="{{this.id}}">
              Rejoindre
            </button>
          </td>
        </tr>
      {{/each}}
    </table>
  <form>
</div>

<div>
  <h2>Historique</h2>
  <table>
    <tr>
      <th>Équipe 0</th>
      <th>Équipe 1</th>
      <th>Équipe 2</th>
      <th>Équipe 3</th>
      <th>État</th>
      <th>Victoire ?</th>
      <th>Mis à jour le</th>
    </tr>
    {{#each relatedGames}}
      <tr>
        <td>{{this.t0name}}</td>
        <td>{{this.t1name}}</td>
        <td>{{this.t2name}}</td>
        <td>{{this.t3name}}</td>
        <td>{{this.status}}</td>
        <td>{{this.won}}</td>
        <td>{{this.updated}}</td>
      </tr>
    {{/each}}
  </table>
</div>

{{> end }}
